module.exports = {

    token : "",
    prefix : "",
    ownerID : [""],

    embed : {
        color : "",
        footer : ""
    },

    presence : [
        {
            name : "",
            type : ""
        }
    ]
}
